#homepage {
  header {
    * {
      color: $colorHead;
    }

    .header_bg {
      width: 100%;
      background-image: url(img/bg.png);

      .nav_container {
        width: 100%;
        padding: 0 110px;
        background-color: black;

        li {
          height: 165px;
          padding: 0 20px;
          font-size: 14px;
          text-transform: uppercase;
          line-height: 165px;
          cursor: pointer;
        }
      }

      // li:last-of-type {
      //   margin-left: 50px;
      // }

      .order_online a {
        @include btnRed;
        padding: 10px 20px;
      }

      .nav_menu {
        li span.mustache svg {
          @include mustache;
        }

        .logo img {
          height: 115px;
          width: 165px;
        }

        ul.menu_left {
          li:hover div.drop_first {
            display: block;
          }

          div.dropdown {
            width: 200px;
            background-color: #1b1b1b;
            border-top: 4px solid #d2401e;
            // -webkit-transition: top 0.15s ease-out;
            // -o-transition: top 0.15s ease-out;
            transition: top 0.15s ease-out;
            display: none;
            z-index: 999;

            ul.drop_ul li {
              height: 40px;
              line-height: 40px;
              opacity: 0.6;

              span.mustache {
                display: none;
              }

              &:hover {
                opacity: 1;

                span.mustache {
                  display: block;
                }
              }

              ul.ul_second li {
                span.mustache {
                  display: none;
                }

                &:hover {
                  span.mustache {
                    display: block;
                  }
                }
              }

              // ul.drop_ul.ul_first > li {
              //   span.mustache {
              //     display: none;
              //   }
              // }

              // ul.drop_ul.ul_first > li:hover {
              //   span.mustache {
              //     display: block;
              //   }
              // }
            }
          }

          .drop_first {
            top: 100%;
            left: -5px;

            li:hover .drop_second {
              display: block;
            }
          }

          .drop_second {
            top: -4px;
            left: 100%;
          }
        }
      }

      .nav_right {
        li span.vespa svg {
          margin-right: 3px;
        }

        li span {
          margin-right: 3px;
        }
      } //fine nav_container
    } //fine header_bg
  } //fine header
} //fine homepage
