#homepage {
  header {
    * {
      color: $colorHead;
    }

    .header_bg {
      width: 100%;
      background-image: url(img/bg.png);

      .nav_container {
        width: 100%;
        padding: 20px 110px;
        background-color: black;

        li {
          position: relative;
          height: 165px;
          font-size: 14px;
          line-height: 165px;
          text-transform: uppercase;
        }

        li:last-of-type {
          margin-left: 50px;
        }

        .order_online a {
          @include btnRed;
          padding: 15px 30px;
        }

        .nav_menu {
          li {
            margin: 0 25px;
            cursor: pointer;
          }

          li span.mustache svg {
            @include mustache;
          }

          li img {
            height: 115px;
            width: 165px;
          }
        }

        .nav_right {
          li span.vespa svg {
            margin-right: 3px;
          }

          li span {
            margin-right: 3px;
          }
        }
      } //fine nav_container
    } //fine header_bg
  } //fine header
} //fine homepage
