#homepage {
  main {
    #first {
      .images {
        width: 100%;
        padding: 10px;
        background-color: white;

        .image {
          position: relative;
          width: 24%;
          height: 210px;

          &:hover img.image_hover {
            display: block;
          }

          img {
            @include fullSize;
          }

          img.image_hover {
            @include fullAbs;
            display: none;
          }
        }
      }
    } //fine first

    #second {
      .specials {
        .specials_poster {
          position: relative;
          height: 600px;
          width: 50%;

          img {
            @include fullSize;
          }

          img:last-child {
            position: absolute;
            height: 65%;
            width: 65%;
          }
        }

        .specials_content {
          width: 50%;

          .content_container {
            width: 60%;
          }

          h2 {
            margin-bottom: 10px;
          }

          p.big_p {
            margin-bottom: 30px;
          }

          .specials_row {
            margin-bottom: 30px;

            span {
              margin-right: 10px;
              font-size: 25px;
              color: #ab4027;
            }

            p {
              margin-bottom: 10px;
            }
          }
        }
      }
    } //fine second

    #third {
      .scroll_image {
        position: relative;
        height: 600px;
        width: 100%;
        margin-bottom: 10px;

        .scroll_bg {
          @include fullSize;
          background: url(img/h3-background-img.jpg);
          background-position: center;
        }

        .scroll_title {
          width: 450px;
          margin-left: 300px;

          h2 {
            font-size: 70px;
            line-height: 75px;
            color: #ffffff;
          }
        }
      }

      .guys {
        height: 320px;
        width: 100%;
        //padding: 10px 0;

        .guy {
          position: relative;
          width: 25%;

          &:hover .guy_hover_bg {
            display: block;
          }

          img {
            @include fullSize;
          }

          .guy_hover_bg {
            @include fullAbs;
            padding: 25px;
            background-image: url(img/hover.png);
            display: none;

            .guy_hover {
              @include fullSize;
              background-color: $spanRed;

              h3 {
                font-size: 25px;
                color: white;
                margin-bottom: 10px;
              }

              p {
                font-size: $tSmall;
                color: white;
                margin-bottom: 5px;
              }

              span {
                margin: 10px;
                color: white;
              }
            }
          }
        }
      }

      .partners {
        height: 315px;
        width: 100%;
        padding: 90px 140px;
        background: #f7f7f2;
        overflow: hidden;

        .partner {
          height: 260px;
          width: 20%;
          --animation-duration: 3s;

          &:hover {
            animation: bounce; 
            animation-duration: 1s;
          }
        }
      }
    } //fine third

    #fourth {
      margin-top: 80px;

      .pizza_flavors {
        width: 100%;

        .choose {
          width: 675px;
          text-align: center;

          span {
            color: $spanRed;
            font-size: $tSmall;
            margin-bottom: 15px;
          }

          h2 {
            font-size: 40px;
            color: $mainP;
            margin-bottom: 20px;
          }
        }
      }

      .flavors_slider {
        height: 340px;
        width: 100%;

        img {
          height: 180px;
          width: 180px;

          &:hover {
            animation: rotateIn;
             animation-duration: 2s;
          }
        }

        h4 {
          font-size: 20px;
          color: #b7903c;
        }

        span {
          font-size: 20px;
          color: $spanRed;
        }

        span.original_price {
          margin-right: 10px;
          color: #b7903c;
          text-decoration: line-through;
          opacity: 0.5;
        }

        span.circle {
          height: 65px;
          width: 65px;
          top: 15px;
          font-size: 14px;
          color: white;
          border-radius: 50%;
        }

        span.sale {
          background-color: #ffa323;
          left: 15px;
        }

        span.sold {
          background-color: #d2401e;
          right: 15px;
        }
      }
    } //fine fourth

    #fifth {
      margin-top: 80px;

      .events {
        height: 844px;
        width: 50%;
        background-image: url(img/bg.png);

        .delish {
          span {
            font-size: $tSmall;
            color: #d2401e;
            margin-bottom: 15px;
          }

          h2 {
            font-size: 40px;
            color: #ffffff;
          }
        }

        .event {
          padding: 20px;
          height: 200px;
          width: 540px;

          .date span {
            font-size: 55px;
            color: #ab4027;
          }

          .date span:last-of-type {
            font-size: 25px;
            color: #ffffff;
          }

          .event_name {
            margin-left: 40px;

            h3 {
              font-size: 25px;
              color: #ffffff;
            }

            address {
              margin-top: 5px;
              font-size: $tSmall;
              color: $spanRed;
            }
          }
        }
      }

      .comic img {
        @include fullSize;
      }
    } //fine fifth

    #sixth {
      .to_book_bg {
        height: 295px;
        width: 100%;
        background-image: url(img/h3-background-img-3.jpg);
        background-size: cover;

        .to_book {
          .form {
            height: 65px;
            width: 265px;
            padding: 21px 46px 21px 29px;
            color: #858585;
            border: solid 1px black;
            appearance: none;
            background-position-x: 90%;
            background-position-y: 50%;
            background-repeat: no-repeat;
            cursor: pointer;
          }

          select.form {
            background-image: url(img/vector-people.png);
            background-size: 35px 35px;
          }

          input.date {
            background-image: url(img/vector-calendar.png);
            background-size: 25px 25px;
          }

          input.time {
            background-image: url(img/time-vector.png);
            background-size: 25px 25px;
          }

          button.form {
            margin-left: 45px;
            @include btnRed;
          }

          span {
            margin: 15px;
            color: #ffffff;
          }
        }
      }
    } //fine sixth
  } //fine main
} //fine homepage
