$colorHead: #ffffff;
$mainTitles: #303030;
$mainP: #5a5a5a;
$spanRed: #d2401e;
$footh: #b7903c;

$tSmall: 12px;
//$pMain: 18px;

@mixin fullSize {
  height: 100%;
  width: 100%;
}

@mixin fullAbs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin btnRed {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #c83b1a;
}

@mixin mustache {
  margin-right: 3px;
  height: 18px;
  width: 25px;

  path {
    fill: $colorHead;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes toDown {
  0% {
    transform: translate(-50%, -60%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}
