$colorHead: #ffffff;
$mainTitles: #303030;
$mainP: #5a5a5a;
$spanRed: #d2401e;

$tSmall: 12px;
//$pMain: 18px;

@mixin fullSize {
  height: 100%;
  width: 100%;
}

@mixin fullAbs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin btnRed {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #c83b1a;
}
